@using Business.Helpers
@model Entities.UserRole
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Role Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right, #cddce5, #a8c0d6);
            background-image: url('/img/bggg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background-color: white;
            border-radius: 15px;
            padding: 40px;
            margin: 40px auto;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            width: 90%;
            max-width: 600px;
        }

        h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
        }

        footer {
            background-color: floralwhite;
            text-align: start;
            padding: 20px;
            padding-left: 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>

    @{
        var currentLanguage = Context.Session.GetString("Language") ?? "tr";
    }

    <div class="d-flex justify-content-end mb-3">
        <div class="dropdown">
            <!-- Shows chosen button -->
            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                @if (currentLanguage == "tr")
                {
                    <img src="/img/turkish_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        Türkçe
                    </div>
                }
                else if (currentLanguage == "en")
                {
                    <img src="/img/usa_eng_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        English
                    </div>
                }
                else if (currentLanguage == "de")
                {
                    <img src="/img/german_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        Deutsch
                    </div>
                }
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                <!-- Türkçe -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="tr" class="dropdown-item d-flex align-items-center">
                            <img src="/img/turkish_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            Türkçe
                        </button>
                    </form>
                </li>
                <!-- English -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="en" class="dropdown-item d-flex align-items-center">
                            <img src="/img//usa_eng_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            English
                        </button>
                    </form>
                </li>
                <!-- Deutsch -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="de" class="dropdown-item d-flex align-items-center">
                            <img src="/img/german_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            Deutsch
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>


    <div class="wrapper">
        <div class="form-container">
            <form>
                <h2>@LocalizationCache.Get("Role Details")</h2>

                <div class="mb-3">
                    <label for="IdIdId" class="form-label">Id</label>
                    <input type="text" class="form-control" id="IdIdId" readonly value="@Model.Id">
                </div>

                <div class="mb-3">
                    <label for="inputname4" class="form-label">@LocalizationCache.Get("Name")</label>
                    <input type="text" class="form-control" id="inputname4" value="@Model.name" placeholder="Enter role name">
                </div>

                <div class="mb-3">
                    <label for="inputdesp4" class="form-label">@LocalizationCache.Get("Description")</label>
                    <input type="text" class="form-control" id="inputdesp4" value="@Model.description" placeholder="Enter role description">
                </div>

                <div class="form-check mb-3">
                    <input type="hidden" name="ischecked" value="false" />
                    <input type="checkbox" class="form-check-input" id="flexCheckDefault" name="ischecked" value="true" @(Model.ischecked ? "checked" : "") />
                    <label class="form-check-label" for="flexCheckDefault">@LocalizationCache.Get("Having authority")</label>
                </div>
                <div class="form-check mb-3">
                    <input type="hidden" name="ischecked" value="false" />
                    <input type="checkbox" class="form-check-input" id="flexCheckDefault" name="ischecked" value="true" @(Model.islogloginchecked ? "checked" : "") />
                    <label class="form-check-label" for="flexCheckDefault">@LocalizationCache.Get("Login Log Page authority")</label>
                </div>

                <div class="d-grid">
                    <button type="button" class="btn btn-primary" id="savebutton">@LocalizationCache.Get("Save")</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        © 2025 - LoginProject - <a href="#" class="text-decoration-none">@LocalizationCache.Get("Privacy")</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        // Language switch
        $('#languageDropdown').change(function () {
            var selectedLanguage = $(this).val();

            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Login")',
                type: 'POST',
                data: { language: selectedLanguage },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('Language change failed.');
                }
            });
        });

        // Save 
        $("#savebutton").click(function () {
            var saveRole = {
                Id: $("#IdIdId").val(),
                name: $("#inputname4").val(),
                description: $("#inputdesp4").val(),
                ischecked: $("#flexCheckDefault").is(":checked")
            };

            $.ajax({
                url: "@Url.Action("AddRoles", "Login")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(saveRole),
                success: function () {
                    window.location.href = "/Login/Roles";
                },
                error: function (xhr, status, error) {
                    alert("Unexpected result has occurred.");
                    console.log(error);
                }
            });
        });
    </script>

</body>
</html>
