@using Business.Helpers
@model Entities.UserProfile
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Informations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">


    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-image: url('/img/bgg2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .wrapper {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
        }


        .login-container {
            background-color: whitesmoke;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            max-width: 500px;
            width: 90%;
        }

        h3, h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        #usernamewarning {
            display: none;
            color: red;
            font-size: 1em;
        }
    </style>
</head>
<body>


    @{
        var currentLanguage = Context.Session.GetString("Language") ?? "tr";
    }

    <div class="d-flex justify-content-end mb-3">
        <div class="dropdown">
            <!-- Shows chosen button -->
            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                @if (currentLanguage == "tr")
                {
                    <img src="/img/turkish_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        Türkçe
                    </div>
                }
                else if (currentLanguage == "en")
                {
                    <img src="/img/usa_eng_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        English
                    </div>
                }
                else if (currentLanguage == "de")
                {
                    <img src="/img/german_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                    <div>
                        Deutsch
                    </div>
                }
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                <!-- Türkçe -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="tr" class="dropdown-item d-flex align-items-center">
                            <img src="/img/turkish_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            Türkçe
                        </button>
                    </form>
                </li>
                <!-- English -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="en" class="dropdown-item d-flex align-items-center">
                            <img src="/img//usa_eng_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            English
                        </button>
                    </form>
                </li>
                <!-- Deutsch -->
                <li>
                    <form method="post" asp-controller="Login" asp-action="ChangeLanguage">
                        <button type="submit" name="language" value="de" class="dropdown-item d-flex align-items-center">
                            <img src="/img/german_flag.jpg" style="width:30px; height:20px; margin-right:5px;" />
                            Deutsch
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>



    <div class="wrapper">
        <div class="container login-container">
            <form>
                <h2>
                    <i class="bi bi-person-circle me-2"></i>
                    @LocalizationCache.Get("My Profile")
                </h2>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="IdId">Id</label>
                        <input type="text" class="form-control" id="IdId" readonly value="@Model.User.Id">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputEmail4">@LocalizationCache.Get("Email")</label>
                        <input type="email" class="form-control" id="inputEmail4" value="@Model.User.email">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputPassword4">@LocalizationCache.Get("Password")</label>
                        <div class="position-relative">
                            <input type="password" class="form-control" id="inputPassword4" value="@Model.User.password">
                            <i class="bi bi-eye-fill fs-4" id="togglePassword"
                               style="cursor:pointer; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                            </i>
                        </div>
                        <div class="progress mt-2" style="height: 18px;">
                            <div id="passwordStrength" class="progress-bar"></div>
                        </div>
                        <small id="strengthText" class="form-text"></small>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputRepeatPassword4">@LocalizationCache.Get("Password Repeat")</label>
                        <div class="position-relative">
                            <input type="password" class="form-control" id="inputRepeatPassword4" value="@Model.User.password">
                            <i class="bi bi-eye-fill fs-4" id="toggleRepeatPassword"
                               style="cursor:pointer; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                            </i>
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-10">
                    <label for="inputUsername">@LocalizationCache.Get("Username")</label>
                    <input type="text" class="form-control" id="inputUsername" value="@Model.User.username">
                    <span id="usernamewarning">@LocalizationCache.Get("Maximum 10 characters!")</span>
                </div>
                <div class="form-group col-md-10">
                    <label for="inputJob">@LocalizationCache.Get("Job")</label>
                    <input type="text" class="form-control" id="inputJob" placeholder="@LocalizationCache.Get("JobPlaceholder")" value="@Model.User.job">
                </div>
                <br />
                @foreach (var role in Model.RolesSelectListItem)
                {
                    bool isChecked = Model.roles.Any(userRole => userRole.Id.ToString() == role.Value);
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@role.Value" id="role_@role.Value" @(isChecked ? "checked" : "")>
                        <label class="form-check-label" for="role_@role.Value">
                            @role.Text
                        </label>
                    </div>
                }

                <br />
                <button type="button" class="btn btn-primary" id="updatebutton">@LocalizationCache.Get("Save")</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        const passwordInput = document.querySelector('#inputPassword4');
        const strengthBar = document.querySelector('#passwordStrength');
        const strengthText = document.querySelector('#strengthText');
        const togglePassword = document.querySelector('#togglePassword');
        const toggleRepeatPassword = document.querySelector('#toggleRepeatPassword');
        const RepeatpasswordInput = document.querySelector('#inputRepeatPassword4');

        // Password Strength
        passwordInput.addEventListener("input", function () {
            const value = passwordInput.value;

            if (value.length === 0) {
                strengthBar.style.width = "0";
                strengthBar.className = "progress-bar";
                strengthBar.textContent = "";
                strengthText.textContent = "";
                return;
            }

            let strength = 0;
            if (value.length >= 6) strength++;
            if (/[A-Z]/.test(value)) strength++;
            if (/[0-9]/.test(value)) strength++;
            if (/[^A-Za-z0-9]/.test(value)) strength++;
            if (value.length >= 12) strength++;

            const categories = [
                { text: "@Html.Raw(LocalizationCache.Get("Very Weak"))", color: "bg-danger", width: "20%" },
                { text: "@Html.Raw(LocalizationCache.Get("Weak"))", color: "bg-warning", width: "40%" },
                { text: "@Html.Raw(LocalizationCache.Get("Medium"))", color: "bg-info", width: "60%" },
                { text: "@Html.Raw(LocalizationCache.Get("Strong"))", color: "bg-primary", width: "80%" },
                { text: "@Html.Raw(LocalizationCache.Get("Very Strong"))", color: "bg-success", width: "100%" }
            ];


            const current = categories[Math.min(strength, 4)];
            strengthBar.className = "progress-bar " + current.color;
            strengthBar.style.width = current.width;
            strengthBar.textContent = current.text;
            strengthText.textContent = "@Html.Raw(LocalizationCache.Get("Password Strength: "))" + " " + current.text;
        });

        // Toggle Password
        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('bi-eye-fill');
            this.classList.toggle('bi-eye-slash-fill');
        });

        // Toggle Repeat Password
        toggleRepeatPassword.addEventListener('click', function () {
            const type = RepeatpasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            RepeatpasswordInput.setAttribute('type', type);
            this.classList.toggle('bi-eye-fill');
            this.classList.toggle('bi-eye-slash-fill');
        });


        // Language switch
        $('#languageDropdown').change(function () {
            var selectedLanguage = $(this).val();

            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Login")',
                type: 'POST',
                data: { language: selectedLanguage },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("@Html.Raw(LocalizationCache.Get("Language change failed."))");
                }
            });
        });

        //Live Listener for character 10
        document.getElementById("inputUsername").addEventListener("input", function () {
            const input = this.value;
            const errorMsg = document.getElementById("usernamewarning");
            const updatebutton = document.getElementById("updatebutton")

            if (input.length > 10) {
                errorMsg.style.display = "inline";
                updatebutton.disabled = true;
            } else {
                errorMsg.style.display = "none";
                updatebutton.disabled = false;
            }
        });

        //Update
        $("#updatebutton").click(function () {
            var selectedRoles = [];
            $("input[type=checkbox]:checked").each(function () {
                selectedRoles.push(parseInt($(this).val()));
            });

            var username = $("#inputUsername").val();
            var password = $("#inputPassword4").val();
            var RepeatPassword = $("#inputRepeatPassword4").val();

            if (username.length > 10) {
                $("#usernamewarning").show();
                return;
            } else {
                $("#usernamewarning").hide();
            }

            if (password !== RepeatPassword) {
                alert("@Html.Raw(LocalizationCache.Get("Passwords do not match!"))")
                return;
            }

            var updateUser = {
                User: {
                    Id: $("#IdId").val(),
                    email: $("#inputEmail4").val(),
                    password: password,
                    username: $("#inputUsername").val(),
                    job: $("#inputJob").val(),
                },
                SelectedRoleIds: selectedRoles
            };

            $.ajax({
                url: "@Url.Action("Profile", "Login")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(updateUser),
                success: function () {
                    window.location.href = "/Login/Success?added=true";
                },
                error: function (xhr, status, error) {
                    alert("@Html.Raw(LocalizationCache.Get("Unexpected result has occurred."))");
                    console.log(error);
                }
            });

        });
    </script>
</body>
</html>
